<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2><%= blog.title %></h2>
    <h3 style="margin-bottom: 20px;"><%= blog.snippet %></h3>
    <div class="content">
      <p><%= blog.body %></p>
    </div>
    <a class="edit" data-doc="<%= blog._id %>">
      <img src="/edit.svg" alt="edit icon">
    </a>
    <a class="delete" data-doc="<%= blog._id %>">
      <img src="/delete.svg" alt="delete icon">
    </a>
  </div>

  <%- include("./partials/footer.ejs") %>

  <script src="/main.js"></script>
</body>
</html>